<a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
  <div dir="rtl">
    {% if include.sticky == 'true' %}
    <span class="catalogue-pinned">Pinned &middot;</span>
    {% endif %}
    <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
    <h1 class="catalogue-title">{{ post.title }}</h1>

    <p>
      {% if post.excerpt_separator %}
        {{ strip_html }}
      {% else %}
        {{ strip_html | truncatewords: 0 }}
      {% endif %}
    </p>

  </div>
</a>
