<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">پست‌ها</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">تگ‌ها</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">دربارهٔ من</a></li>
      <li>  </li>
      <li><a href="{{ 'https://github.com/PariKhaleghi/' }}">گیت‌هاب</a></li>
    </ul>
  </div>
</nav>
