<!DOCTYPE html>
<html dir="rtl" lang="fa">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>

  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</html>
